<!DOCTYPE html>
<html lang="en">

<head>
	<title>Divorius - Sabores do Alentejo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/resources/frontend/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/resources/frontend/css/animate.css">

	<link rel="stylesheet" href="/resources/frontend/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/resources/frontend/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/resources/frontend/css/magnific-popup.css">

	<link rel="stylesheet" href="/resources/frontend/css/aos.css">

	<link rel="stylesheet" href="/resources/frontend/css/ionicons.min.css">

	<link rel="stylesheet" href="/resources/frontend/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/resources/frontend/css/jquery.timepicker.css">


	<link rel="stylesheet" href="/resources/frontend/css/flaticon.css">
	<link rel="stylesheet" href="/resources/frontend/css/icomoon.css">
	<link rel="stylesheet" href="/resources/frontend/css/style.css">
	<link rel="icon" type="image/png" sizes="32x32" href="/resources/frontend/favicon/favicon-32x32.png">
</head>

<body class="goto-here">

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="./"><img src="/resources/frontend/images/Divorius-logo.jpg"
					style="border-radius: 50%;opacity: 0.9;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="./" class="nav-link">Home</a></li>
					<li class="nav-item  "><a href="./shop" class="nav-link">Loja</a></li>
					<!--<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>-->
					<li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
					<li class="nav-item cta cta-colored"><a style="color: white;" href="#" class="nav-link"><span
								style="color: white;" class="icon-shopping_cart"></span></a></li>

				</ul>
			</div>
		</div>
	</nav>

	<style>
		@media (mix-width: 991.98px) {
			#home-section {
				margin-top: -100px;
				z-index: 1;
				top: 0;
			}
		}

		.nav-link {
			color: #ffd700;
		}

		#botao1 {
			background-color: #b88d00;
			border-radius: 0;
		}

		#botao1:hover {
			background-color: rgba(255, 255, 255, 0);
			border-style: solid;
			border-color: #b88d00;
			border-width: 1px;
			color: #b88d00;
		}
	</style>
	<!-- END nav -->

	<section id="home-section" class="hero" style="margin-top: -80px; z-index: 100;">
		<div class="home-slider owl-carousel">
			<div class="slider-item" style="background-image: url(/resources/frontend/images/capa13.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

						<div class="col-md-12 ftco-animate text-center">
							<h1 class="mb-2">Sabores Do Alentejo</h1>
							<h2 class="subheading mb-4">Distribuimos pordutos Portugueses de qualidade.</h2>
							<p><a href="#" id="botao1" class="btn ">Saber mais</a></p>
						</div>

					</div>
				</div>
			</div>

			<div class="slider-item" style="background-image: url(/resources/frontend/images/capa8.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

						<div class="col-sm-12 ftco-animate text-center">
							<!--<h1 class="mb-2">Sabores Do Alentejo</h1>
	              <h2 class="subheading mb-4">Distribuimos pordutos Portugueses de qualidade.</h2>-->
							<p><a href="#" id="botao1" class="btn " style="margin-top: 300px;">Saber mais</a></p>
						</div>

					</div>
				</div>
			</div>
			<div class="slider-item" style="background-image: url(/resources/frontend/images/capa7.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

						<div class="col-sm-12 ftco-animate text-center">
							<!-- <h1 class="mb-2">Sabores Do Alentejo</h1>
	              <h2 class="subheading mb-4">Distribuimos pordutos Portugueses de qualidade.</h2>-->
							<p><a href="#" id="botao1" class="btn " style="margin-top: 300px;">Saber mais</a></p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<style>
		.ftco-section .icon:hover {
			background-color: yellow;
		}
	</style>



	<section class="ftco-section ftco-category ftco-no-pt" style="margin-top: 40px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6 order-md-last align-items-stretch d-flex">
							<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
								style="background-image: url(/resources/frontend/images/presunto.jpg);">
								<div class="text text-center">
									<h2 style="color:  #b88d00;">Produtos Portugueses</h2>
									<p>Produtos de qualidade</p>
									<p><a href="#" id="botao1" class="btn ">Comprar agora</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
								style="background-image: url(/resources/frontend/images/capa1.jpg);">
								<div class="text px-3 py-1" style="background-color:  #b88d00;">
									<h2 class="mb-0"><a href="#">Charcutaria</a></h2>
								</div>
							</div>
							<div class="category-wrap ftco-animate img d-flex align-items-end"
								style="background-image: url(/resources/frontend/images/capa10.jpg);">
								<div class="text px-3 py-1" style="background-color:  #b88d00;">
									<h2 class="mb-0"><a href="#">Queijo e vinhos</a></h2>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
						style="background-image: url(/resources/frontend/images/natas.jpg);">
						<div class="text px-3 py-1" style="background-color:  #b88d00;">
							<h2 class="mb-0"><a href="#">Doces</a></h2>
						</div>
					</div>
					<div class="category-wrap ftco-animate img d-flex align-items-end"
						style="background-image: url(/resources/frontend/images/pao.jpg);">
						<div class="text px-3 py-1" style="background-color:  #b88d00;">
							<h2 class="mb-0"><a href="#">Pão</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="second" style=" background-image: url(/resources/frontend/images/pao2.jpg); background-attachment: fixed;
		background-size: cover;">

		<section class="ftco-section">
			<div class="container">
				<div class="row no-gutters ftco-services">
					<div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services mb-md-0 mb-4">
							<div class="icon bg-color-4 active d-flex justify-content-center align-items-center mb-2">
								<span class="flaticon-shipped"></span>
							</div>
							<div class="media-body">
								<h3 class="heading" style="color: white;">Transporte Grátis</h3>
								<span style="color: rgb(201, 200, 200);">Encomendas superiores a 100Fr</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services mb-md-0 mb-4">
							<div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
								<span class="flaticon-diet"></span>
							</div>
							<div class="media-body">
								<h3 class="heading" style="color: white;">Produtos Frescos</h3>
								<span style="color: rgb(201, 200, 200);">Apenas vendemos os nossos produtos
									frescos</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services mb-md-0 mb-4">
							<div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
								<span class="flaticon-award"></span>
							</div>
							<div class="media-body">
								<h3 class="heading" style="color: white;">Qualidade</h3>
								<span style="color: rgb(201, 200, 200);">Todos os nossos produtos são de
									qualidade</span>
							</div>
						</div>
					</div>
					<!-- <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
			 <div class="media block-6 services mb-md-0 mb-4">
			   <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
					 <span class="flaticon-customer-service"></span>
			   </div>
			   <div class="media-body">
				 <h3 class="heading" style="color: white;">Support</h3>
				 <span style="color: rgb(201, 200, 200);">24/7 Support</span>
			   </div>
			 </div>      
		   </div>-->
				</div>
				<div id="row1" class="row">
					<div class="col-md-6 ">
						<div class="container" style="background-color: rgba(255, 255, 255, 0.87);">
							<div id="texto1">
								<h5><small>OS NOSSOS SERVIÇOS</small></h5>
								<h2>SERVIÇOS</h2>
								<p>Divorius é uma empresa jhsafd safdgds , que faz entrega ao domicilío, nas cidades de
									...

								</p>
								<p>Divorius é uma empresa jhsafd safdgds , que faz entrega ao domicilío, nas cidades de
									...Divorius é uma empresa jhsafd safdgds , que faz entrega ao domicilío, nas cidades
									de
									Divorius é uma empresa jhsafd safdgds , que faz entrega ao domicilío, nas cidades
									de...</p>
								<p>Divorius é uma empresa jhsafd safdgds , que faz entrega ao domicilío, nas cidades de
									...Divorius é uma empresa jhsafd safdgds , que faz entrega ao domicilío, nas cidades
									de
									Divorius é uma empresa jhsafd safdgds , que faz entrega ao domicilío, nas cidades
									de...</p>

							</div>
							<div class="col-md-12 text-center">
								<p><a href="#" id="botao1" class="btn text-center ">Ver Produtos</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-6 text-center"><img src="/resources/frontend/images/serviços1.jpg"></div>
				</div>

				<style>
					#row1 {
						margin-top: 50px;
					}

					#row1 h5 {
						font-size: 14px;
						color: #b88d00;
					}

					#texto1 {
						padding: 40px;
					}

					#row1 #botao1 {
						margin-bottom: 30px;
					}

					#row1 img {
						width: 550px;
						height: 600px;
						opacity: 0.9;
					}
				</style>
			</div>
		</section>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading" style="color: #b88d00;;">Produtos mais vendidos</span>
					<h2 class="mb-4">Os Nossos Produtos</h2>
					<p>Temos uma variedade de produtos de qualidade á sua disposição.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid" src="/resources/frontend/images/pao.jpg"
								alt="Colorlib Template">
							<span class="status">30%</span>
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">Presunto</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span class="mr-2 price-dc">€120.00</span><span
											class="price-sale">€80.00</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid"
								src="/resources/frontend/images/presunto-fatiado-375x400.png" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">Presunto</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>€120.00</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid"
								src="/resources/frontend/images/presunto.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">Presunto</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>€120.00</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid"
								src="/resources/frontend/images/product_img_2777_503x410-y-375x400.png"
								alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">Presunto</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>€120.00</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid" src="/resources/frontend/images/vinho.jpg"
								alt="Colorlib Template">
							<span class="status">30%</span>
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">Presunto</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span class="mr-2 price-dc">€120.00</span><span
											class="price-sale">€80.00</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid"
								src="/resources/frontend/images/presunto-varanegra-375x400.png" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">Presunto</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>€120.00</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid" src="/resources/frontend/images/queijo.jpg"
								alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">Presunto</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>€120.00</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid"
								src="/resources/frontend/images/paio-tradiconal-SEL-375x400.png"
								alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">Presunto</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>€120.00</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 text-center">
					<p><a href="shop.html" id="botao1" class="btn text-center ">Ver todos os Produtos</a></p>
				</div>
			</div>
		</div>
	</section>
	<style>
		.product .status {
			background-color: #b88d00;
		}
	</style>
	<!--
		<section class="ftco-section img" style="background-image: url(images/bg_3.jpg);">
    	<div class="container">
				<div class="row justify-content-end">
          <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
          	<span class="subheading">Best Price For You</span>
            <h2 class="mb-4">Deal of the day</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            <h3><a href="#">Spinach</a></h3>
            <span class="price">$10 <a href="#">now $5 only</a></span>
            <div id="timer" class="d-flex mt-5">
						  <div class="time" id="days"></div>
						  <div class="time pl-3" id="hours"></div>
						  <div class="time pl-3" id="minutes"></div>
						  <div class="time pl-3" id="seconds"></div>
						</div>
          </div>
        </div>   		
    	</div>
    </section>-->

	<section class="ftco-section testimony-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<span class="subheading" style="color: #b88d00;">Testemunhos</span>
					<h2 class="mb-4">O que dizem os nossos clientes</h2>
					<p>Temos como objectivo a satisfação dos nossos clientes</p>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5"
									style="background-image: url(/resources/frontend/images/capa10.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text text-center">
									<p class="mb-5 pl-4 line">Uma empresa de qualidade</p>
									<p class="name">Carlos Semedo</p>
									<span class="position">Cliente Divorius</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5"
									style="background-image: url(/resources/frontend/images/capa10.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text text-center">
									<p class="mb-5 pl-4 line">Uma empresa de qualidade</p>
									<p class="name">Carlos Semedo</p>
									<span class="position">Cliente Divorius</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5"
									style="background-image: url(/resources/frontend/images/capa10.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text text-center">
									<p class="mb-5 pl-4 line">Uma empresa de qualidade</p>
									<p class="name">Carlos Semedo</p>
									<span class="position">Cliente Divorius</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5"
									style="background-image: url(/resources/frontend/images/capa10.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text text-center">
									<p class="mb-5 pl-4 line">Uma empresa de qualidade</p>
									<p class="name">Carlos Semedo</p>
									<span class="position">Cliente Divorius</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5" style="background-image: url(images/capa10.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text text-center">
									<p class="mb-5 pl-4 line">Uma empresa de qualidade</p>
									<p class="name">Carlos Semedo</p>
									<span class="position">Cliente Divorius</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<hr>
	<!--
		<section class="ftco-section ftco-partner">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-1.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-2.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-3.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-4.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-5.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    		</div>
    	</div>
    </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>-->
	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row">
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Divorius</h2>
						<p>Uma empresa que distribui produtos Portugueses da mais alta qualidade.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Menu</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Loja</a></li>
							<li><a href="#" class="py-2 d-block">Sobre</a></li>

							<li><a href="#" class="py-2 d-block">Contacto</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Ajuda</h2>
						<div class="d-flex">
							<ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
								<li><a href="#" class="py-2 d-block">Informação de Transportes</a></li>

								<li><a href="#" class="py-2 d-block">Termos &amp; Condições</a></li>
								<li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
							</ul>

						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Dúvidas?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">Sankt Gallen, SG,
										Schweiz 9000 São Galo, Suíça</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">078 730 02 64
										</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">divorius.alentejo@gmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright @ All rights reserved | This webshop was created by <a
							href="https://dugong-websolutions.com" target="_blank">Dugong-Web-Solutions</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" /></svg></div>


	<script src="/resources/frontend/js/jquery.min.js"></script>
	<script src="/resources/frontend/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/resources/frontend/js/popper.min.js"></script>
	<script src="/resources/frontend/js/bootstrap.min.js"></script>
	<script src="/resources/frontend/js/jquery.easing.1.3.js"></script>
	<script src="/resources/frontend/js/jquery.waypoints.min.js"></script>
	<script src="/resources/frontend/js/jquery.stellar.min.js"></script>
	<script src="/resources/frontend/js/owl.carousel.min.js"></script>
	<script src="/resources/frontend/js/jquery.magnific-popup.min.js"></script>
	<script src="/resources/frontend/js/aos.js"></script>
	<script src="/resources/frontend/js/jquery.animateNumber.min.js"></script>
	<script src="/resources/frontend/js/bootstrap-datepicker.js"></script>
	<script src="/resources/frontend/js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/resources/frontend/js/google-map.js"></script>
	<script src="/resources/frontend/js/main.js"></script>
	<script>
		$(document).ready(function () {
			// initialize cart data in the localStorage
			var cartData = JSON.parse(localStorage.getItem("cartData"));
			if (cartData && cartData.length) {
				$(".icon-shopping_cart").html(`[${cartData.length}]`);
				console.log('cartData>>', cartData)
			} else {
				$(".icon-shopping_cart").html(`[0]`);
				var initialCartData = [];
				localStorage.setItem("cartData", JSON.stringify(initialCartData));
			}
		})
	</script>
</body>

</html>